<!DOCTYPE html>
<html>
<head>
    <title>Timeline POC</title>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-timeline.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css?hcode=a0c21fc77e1449cc86299c5faa067dc4"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css"/>
    <style>
        html,
        body,
        #container {
            width: 800px;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="container"></div>
<script>
    console.log(Date.UTC(2021, 2, 6, 12, 30))
    console.log(Date.UTC(2021, 2, 6, 13, 30))
    console.log(Date.UTC(2021, 2, 6, 14, 30))
    console.log(Date.UTC(2021, 2, 6, 15, 30))
    console.log(Date.UTC(2021, 2, 6, 0, 0))
    console.log(Date.UTC(2021, 2, 6, 23, 59))
    anychart.onDocumentReady(function () {
        anychart.data.loadJsonFile(
            './data.json',
            function (data) {

                // create timeline chart
                let chart = anychart.timeline();
                console.log("chart", chart)
                // set chart's title
                chart
                    .title()
                    .enabled(true)
                    .useHtml(true)
                    .text('<span style = "color: #007cc2;">Timeline</span>');



                // create stage timeline
                for (var i = 0; i < data.stage.length; i++) {
                    // create range series
                    var series = chart.range([
                        [
                            data.stage[i].title,
                            data.stage[i].start,
                            data.stage[i].end
                        ]
                    ])
                        .fill("#33b6f2")
                        .stroke("none");

                    // set tooltip settings for the main timeline series
                    series
                        .tooltip()
                        .useHtml(true)
                        .titleFormat('{%x}')
                        .format(
                            data.stage[i].description
                            + '<br/><br/>Start: <b>{%start}{type:date}</b><br/>End: <b>{%end}{type:date}</b>'
                        );
                    series.direction("down");
                    console.log("Series", series)
                }

                // create tournament timeline
                for (var i = 0; i < data.tournament.length; i++) {
                    let error = data.tournament[i].error
                    // create range series
                    var series2 = chart.range([
                        [
                            data.tournament[i].title,
                            data.tournament[i].start,
                            data.tournament[i].end
                        ]
                    ])

                        .fill(() => {
                            return error ? "#FD8060" : "#B0D8A4"
                        })
                        .stroke("none");

                    // set tooltip settings for the main timeline series
                    series2
                        .tooltip()
                        .useHtml(true)
                        .titleFormat('{%x}')
                        .format(
                            data.tournament[i].description
                            + '<br/><br/>Start: <b>{%start}{type:date}</b><br/>End: <b>{%end}{type:date}</b>'
                        );
                    series2.direction("down")

                }

                // create matchGroup timeline
                for (var i = 0; i < data.matchGroup.length; i++) {
                    let error = data.matchGroup[i].error
                    // create range series
                    var series = chart.range([
                        [
                            data.matchGroup[i].title,
                            data.matchGroup[i].start,
                            data.matchGroup[i].end
                        ]
                    ])
                        .fill(() => {
                            return error ? "#FD8060" : "#B0D8A4"
                        })
                        .stroke("none");

                    // set tooltip settings for the main timeline series
                    series
                        .tooltip()
                        .useHtml(true)
                        .titleFormat('{%x}')
                        .format(
                            data.matchGroup[i].description
                            + '<br/><br/>Start: <b>{%start}{type:date}</b><br/>End: <b>{%end}{type:date}</b>'
                        );
                    series.direction("down")
                }

                // create game timeline
                for (var i = 0; i < data.game.length; i++) {
                    let error = data.game[i].error
                    // create range series
                    var series = chart.range([
                        [
                            data.game[i].title,
                            data.game[i].start,
                            data.game[i].end
                        ]
                    ])
                        .fill(() => {
                            return error ? "#FD8060" : "#B0D8A4"
                        })
                        .stroke("none");

                    // set tooltip settings for the main timeline series
                    series
                        .tooltip()
                        .useHtml(true)
                        .titleFormat('{%x}')
                        .format(
                            data.game[i].description
                            + '<br/><br/>Start: <b>{%start}{type:datetime}</b><br/>End: <b>{%end}{type:datetime}</b>'
                        );
                    series.direction("down")
                }

                // set chart scale levels
                chart.scale().zoomLevels([
                    [
                        { unit: 'month', count: 1 }
                    ]
                ]);

                // enable chart scroller
                // chart.scroller().enabled(true);

                // add a zoom control panel
                var zoomController = anychart.ui.zoom();
                zoomController.target(chart);
                zoomController.render();

                // Event listener
                chart.listen("click", function(prop) {
                    console.log("click", prop)
                    if(prop.button === "left") {
                        alert(`Name: ${prop.target.ke.name} | Value: ${prop.target.ke.value}`)
                    }
                });


                // set container id for the chart
                chart.container('container');

                // initiate chart drawing
                chart.draw();

            });
    });
</script>
</body>
</html>